{%- macro constructor(schema) %}
    constructor(
        {{schema | constructor}}
    ){
    {%- if schema.allOf() | length > 0 %}
        {%- for allOfSchema in schema.allOf() %}
        {{initGetSet(allOfSchema.uid())}}
        {%- endfor %}
    {%- endif %}
    {%- if schema.oneOf() | length > 0 %}
        {%- for oneOfSchemas in schema.oneOf() %}
        {{initGetSet(oneOfSchemas.uid())}}
        {%- endfor %}
    {%- endif %}
    {%- if schema.anyOf() | length > 0 %}
        {%- for anyOfSchema in schema.anyOf() %}
        {{initGetSet(anyOfSchema.uid())}}
        {%- endfor %}
    {%- endif %}
    {%- if schema.uid() | length %}
        {{initGetSet(schema.uid())}}
    {%- endif %}
    }
{% endmacro %}

{%- macro initGetSet(propertyName) %}
    this.{{propertyName}} = {{propertyName}};
{% endmacro %}

export class {{message.name() | upperFirst}} {
    
    constructor();
	{{ constructor(message.payload())}}

}
