{%- macro addProperty(property, propertyName) %}
    private {{property | toJavaType}} {{propertyName}};

    /**
    * @return {{propertyName}}
    */
    public {{property | toJavaType}} get{{propertyName | upperFirst}}() {
        return {{propertyName}};
    }

    /**
    * @param {{propertyName}} to set
    */
    public void set{{propertyName | upperFirst}}({{property | toJavaType}} {{propertyName}}) {
        this.{{propertyName}} = {{propertyName}};
    }
{% endmacro %}
{%- macro addSchema(schema) %}
{%- if schema.type() == "array" %}
    private {{schema | toJavaType | safe }} {{schema.uid()}};

    /**
    * @return {{schema.uid()}}
    */
    public {{schema | toJavaType | safe }} get{{schema.uid() | upperFirst}}() {
        return {{schema.uid()}};
    }

    /**
    * @param {{schema.uid()}} to set
    */
    public void set{{schema.uid() | upperFirst}}({{schema | toJavaType | safe }} {{schema.uid()}}) {
        this.{{schema.uid()}} = {{schema.uid()}};
    }

    public class {{schema.items().uid() | upperFirst}}{
        {{addSchema(schema.items())}}
    }
{%- else %}
    {%- for propertyName, property in schema.properties() %}
    {%- if property.enum() | length %}
        public enum {{propertyName}}Enum {
        {%- set enumCounter = 0 %}
        {%- for enum in property.enum() %}
            @SerializedName("{{enum}}")
            {%- if enumCounter == property.enum().length %}
                {{enum}}
            {%- else %}
                {{enum}},
            {%- endif %}
            {%- set enumCounter = enumCounter + 1 %}
        {%- endfor %}
        }
        
        private {{propertyName}}Enum {{propertyName}};

        /**
        * @return {{propertyName}}Enum
        */
        public {{propertyName}}Enum get{{propertyName | upperFirst}}() {
            return {{propertyName}};
        }

        /**
        * @param {{propertyName}} to set
        */
        public void set{{propertyName | upperFirst}}({{propertyName}}Enum {{propertyName}}) {
            this.{{propertyName}} = {{propertyName}};
        }
    {%- else %}
        {{addProperty(property, propertyName)}}
    {%- endif %}
    {%- endfor %}
{%- endif %}
{% endmacro %}
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
package dk.sdu.datascience.kafka.structure.schemas;

import com.google.gson.annotations.SerializedName;
import java.util.List;
/**
 *
 * @author Async api generated
 */
public class {{schema.uid() | upperFirst}} {
    {{addSchema(schema)}}
}
