{%- macro constructor(schema) %}
    constructor(
        {{schema.properties() | schemaConstructor}}
    ){ 
    {%- for propertyName, property in schema.properties() %}
        this.{{propertyName}}={{propertyName}};
    {%- endfor %}
    }
{% endmacro %}

{%- macro initGetSet(propertyName) %}
    this.{{propertyName}} = {{propertyName}};
{% endmacro %}

{%- for propertyName, property in schema.properties() %}
{%- if property.enum() | length %}
const {{propertyName}}Enum = Object.freeze({
	{%- set enumCounter = 0 %}
	{%- for enum in property.enum() %}
		{%- if enumCounter == property.enum().length %}
			"{{enum}}": "{{enum}}"
		{%- else %}
			"{{enum}}": "{{enum}}",
		{%- endif %}
		{%- set enumCounter = enumCounter + 1 %}
	{%- endfor %}
    })
{%- endif %}
{%- endfor %}
exports.{{propertyName}}Enum = {{propertyName}}Enum;
exports = class {{schema.uid() | upperFirst}} {
    constructor();
    {{constructor(schema)}}

    
}
